*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color:white;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.section{
    flex: 25%;
    padding: 0px 5px;
}
img{
    width: 100%;
    border-radius: 0;
    padding-left: 0px;
    transform: scale(.8);
}
img:hover{
    transform: scale(1.1);
    transition: .4s ease-in;
    border-radius: 5px;
    flex: 100%;
}
.section about{
    width: auto;
    height: auto;
    font-family: monospace;
    font-size: 1vw;
    color: black;
    background-color: transparent;
}
figcaption{
    text-align: center;
    font-family: serif;
    font-weight: 500;
}
@media (max-width:991px) {
    .section{
        flex: calc(100/3);
    }
    figcaption{
        text-align: center;
    }
}
@media (max-width:767px) {
    .section{
        flex: 50%;
    }
    figcaption{
        text-align: center;
    }
}
@media (max-width:767px) {
    .section{
        flex: 100%;
    }
    figcaption{
        text-align: center;
    }
}